$header-color: #e1e4ff;
$header-font-color: #3634fe;
$font-color: #121212;

$main-color: #f9faff;
$main-color-tint: #edefff;

$completed-color: #c0c0c0;

$primary-blue: #3646fe;
$accent-green: #008751;

// DARK THEME

$dark-main-color: #1e1e1e;
$dark-header-color: #404040;
$dark-font-color: #ffffff;
