@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700");
// fonts
$font: "Open Sans", sans-serif;
$logo-font: Poppins;

$header-height: 5rem;
$no-header-height: calc(100vh - 5rem);

//font sizes for mobile
$header-size: 2.1rem; // lists header, task name, login header
$list-name: 1.9rem;
$task-title: 1.7rem;
$task-detail-input: 1.5rem; //also list buttons
$medium: 1.3rem;
$label: 1.2rem;

$left-whitespace: 2.4rem;
