@use "partials" as *;

.list-header__container {
  height: 6.8rem;
  background-color: $main-color;

  justify-content: space-between;
  width: 100%;
}

.list-header__header {
  color: $font-color;
  font-size: $header-size;
  font-weight: 500;
  margin-left: calc($left-whitespace + 1.4rem);
}

.sort__container {
  padding-right: 2.4rem;
}
.sort__p {
  color: $font-color;
  font-size: $medium;
}

github-picker {
  touch-action: none;
  transform-origin: 0 0;
  position: absolute;
  transform: scale(1.2);
  border: none;

  @include media("<=wide-phone") {
    width: 6.4rem;
  }
}
