@use "partials" as *;

.options__div {
  position: absolute;
  height: 14rem;
  width: 18rem;
  border-radius: 3px;
  padding: 1.4rem 1.8rem;

  background-color: $header-color;

  top: 3rem;

  color: $font-color;

  flex-direction: column;
  justify-content: space-between;
  opacity: 1;

  z-index: 10;

  border: 1px solid $main-color;
}

.options--hidden {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.option__p {
  font-size: $medium;
  letter-spacing: 0.2px;
  padding-left: 1rem;
}
.option__icon {
  height: 2rem;
}

// repeat div - higher

.repeat__div {
  height: 18rem;
}

// NEW

.dropdown {
  position: relative;
  margin-left: 2.4rem;
}

.dropdown-menu {
  background-color: $main-color;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba($primary-blue, 0.3);
  -moz-box-shadow: 0px 1px 10px 0px rgba($primary-blue, 0.3);
  box-shadow: 0px 1px 10px 0px rgba($primary-blue, 0.3);

  width: 100%;
  position: absolute;
  top: 110%;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.1s linear, visibility 0.1s linear;
  z-index: 10;
}

.dropdown-menu--list-view {
  @extend .dropdown-menu;

  width: 13rem;
}
.dropdown-menu--right {
  @extend .dropdown-menu;
  right: -10rem;
  @include media("<tablet") {
    right: 2rem;
  }

  // for mobile
}
.dropdown-menu--left {
  @extend .dropdown-menu;
  right: 0%;
}

.dropdown-visible.dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu__item {
  padding: 1rem;
  font-size: $medium;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $main-color-tint;
  }
}

.change-theme__picker {
  position: absolute;
  height: 10rem;
  width: 6.4rem;
  top: 0;
  left: 100%;
}

.set-icon__picker {
  position: absolute;
  top: 0;
  left: 100%;

  background-color: $main-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: rgb(0 0 0 / 15%) 0 3px 12px;
  border-radius: 4px;
}
