<main class="login__background flex--vertical-center">
  <section class="login__container">
    <div class="form__header flex">
      <h1>Welcome back!</h1>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-control">
        <label class="form__label">Email:</label>
        <input class="task-detail__input" formControlName="email" />
      </div>
      <div class="form-control form-control--last">
        <label class="form__label">Password:</label>
        <input
          class="task-detail__input"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="form-control">
        <button class="form__button button">Login</button>
      </div>
    </form>
    <div class="new-account__container">
      <button class="form__button button" routerLink="/signup">
        Create new account
      </button>
    </div>
  </section>
</main>
