<main class="main-private">
  <app-navbar></app-navbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" autofocus="false">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-sidenav-container>
        <mat-sidenav #sidenavRight position="end" mode="push"
          ><app-task-detail></app-task-detail
        ></mat-sidenav>
        <mat-sidenav-content
          ><router-outlet></router-outlet
        ></mat-sidenav-content>
      </mat-sidenav-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
