<header class="header">
  <nav class="flex--vertical-center header__nav">
    <a class="link" (click)="toggleSidenav()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="header__icon button"
        viewBox="0 0 512 512"
      >
        <title>Menu</title>
        <path
          stroke-linecap="round"
          stroke-miterlimit="10"
          d="M88 152h336M88 256h336M88 360h336"
        />
      </svg>
    </a>

    <a class="link logo button" routerLink="/list">logo</a>
  </nav>
</header>
