@use "partials" as *;

$add-input: #222222;

.add-task {
  background-color: $main-color;
  padding: 1.2rem $left-whitespace;
  flex-direction: column;
}

.add__p {
  color: $font-color;
  font-size: $task-title;
  font-weight: 500;
  letter-spacing: 0.3px;
}

// active add task

.task__input {
  font-size: $task-title;
  letter-spacing: 0.3px;
  background-color: $add-input;
  border-radius: 0;

  border-bottom: 1px solid aqua;
}

// add task button for mobile

.add-task__button {
  position: absolute;
  bottom: 0;
}

//
.form--upper {
  width: 100%;
  padding-top: 1.2rem;
}
