<section
  class="add-task list__border"
  [ngClass]="addTaskActive ? 'add-task--active' : 'add-task--normal'"
  [ngStyle]="{ 'background-color': color }"
>
  <form (ngSubmit)="onAddingTask()" [formGroup]="addTaskForm">
    <div class="input-button__div flex--vertical-center">
      <label
        for="add-list"
        (click)="addTaskActive = !addTaskActive"
        class="flex--vertical-center"
        *ngIf="!addTaskActive"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon--plus add-task__icon button"
          viewBox="0 0 512 512"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M256 112v288M400 256H112"
          />
        </svg>
        <p class="add__p" *ngIf="!addTaskActive">Add task</p>
      </label>

      <input
        class="add__input"
        *ngIf="addTaskActive"
        id="add-list"
        formControlName="title"
        (blur)="closeAddTask()"
        #input
      />
      <button type="submit" *ngIf="addTaskActive" class="list__button button">
        Add
      </button>
    </div>
    <div
      class="input-button__div form--upper flex--vertical-center"
      *ngIf="addTaskForm.value.title && addTaskActive"
    >
      <div class="flex--vertical-center button" (click)="calendar.open()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon--task-info bg"
          viewBox="0 0 512 512"
        >
          <rect
            fill="none"
            stroke-linejoin="round"
            stroke-width="40"
            x="48"
            y="80"
            width="416"
            height="384"
            rx="48"
          />
          <path
            fill="none"
            stroke-linejoin="round"
            stroke-width="32"
            stroke-linecap="round"
            d="M128 48v32M384 48v32M464 160H48"
          />
        </svg>
        <input
          class="add-task__input-details"
          placeholder="Deadline"
          matInput
          [matDatepicker]="calendar"
          formControlName="deadline"
          readonly
        />
        <mat-datepicker #calendar></mat-datepicker>
      </div>

      <div class="flex--vertical-center button">
        <div class="div--relative">
          <div
            class="flex--vertical-center"
            (click)="isReminderOpen = !isReminderOpen"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon--task-info bg"
              viewBox="0 0 512 512"
            >
              <path
                d="M427.68 351.43C402 320 383.87 304 383.87 217.35 383.87 138 343.35 109.73 310 96c-4.43-1.82-8.6-6-9.95-10.55C294.2 65.54 277.8 48 256 48s-38.21 17.55-44 37.47c-1.35 4.6-5.52 8.71-9.95 10.53-33.39 13.75-73.87 41.92-73.87 121.35C128.13 304 110 320 84.32 351.43 73.68 364.45 83 384 101.61 384h308.88c18.51 0 27.77-19.61 17.19-32.57zM320 384v16a64 64 0 01-128 0v-16"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
            </svg>
            <input
              class="add-task__input-details--bg"
              placeholder="Add reminder"
              formControlName="reminder"
              (blur)="isReminderOpen = false"
              readonly
            />
          </div>

          <div
            class="dropdown-menu--list-view"
            [ngClass]="{ 'dropdown-visible': isReminderOpen }"
          >
            <div class="dropdown-menu__item" (click)="setRemindDate(0)">
              <img
                src="assets/svg/time-3.svg"
                alt="Rename list icon"
                class="option__icon"
              />
              <p class="option__p">3 hours later</p>
            </div>
            <div class="dropdown-menu__item" (click)="setRemindDate(1)">
              <img
                src="assets/svg/tomorrow.svg"
                alt="Default icon"
                class="option__icon"
              />
              <p class="option__p">Tomorrow</p>
            </div>
            <div class="dropdown-menu__item" (click)="setRemindDate(2)">
              <img
                src="assets/svg/next-week.svg"
                alt="Change theme icon"
                class="option__icon"
              />
              <p class="option__p">Next week</p>
            </div>
            <div class="dropdown-menu__item" (click)="isReminderOpen = false">
              <img
                src="assets/svg/trash.svg"
                alt="Delete list icon"
                class="option__icon"
              />
              <p class="option__p">Pick a date</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex--vertical-center button">
        <div class="div--relative">
          <div
            class="flex--vertical-center"
            (click)="isRepeatOpen = !isRepeatOpen"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon--task-info bg"
              viewBox="0 0 512 512"
            >
              <path
                d="M400 148l-21.12-24.57A191.43 191.43 0 00240 64C134 64 48 150 48 256s86 192 192 192a192.09 192.09 0 00181.07-128"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-miterlimit="10"
                stroke-width="32"
              />
              <path
                d="M464 97.42V208a16 16 0 01-16 16H337.42c-14.26 0-21.4-17.23-11.32-27.31L436.69 86.1C446.77 76 464 83.16 464 97.42z"
              />
            </svg>
            <input
              class="add-task__input-details--bg"
              placeholder="Repeat task"
              formControlName="repeat"
              (blur)="isRepeatOpen = false"
              readonly
            />
          </div>
          <div
            class="dropdown-menu--list-view"
            [ngClass]="{ 'dropdown-visible': isRepeatOpen }"
          >
            <div
              class="dropdown-menu__item"
              (click)="isRepeatOpen = false; setRepeat('Daily')"
            >
              <img
                src="assets/svg/daily.svg"
                alt="Rename list icon"
                class="option__icon"
              />
              <p class="option__p">Daily</p>
            </div>
            <div
              class="dropdown-menu__item"
              (click)="isRepeatOpen = false; setRepeat('Weekdays')"
            >
              <img
                src="assets/svg/weekdays.svg"
                alt="Default icon"
                class="option__icon"
              />
              <p class="option__p">Weekdays</p>
            </div>
            <div
              class="dropdown-menu__item"
              (click)="isRepeatOpen = false; setRepeat('Weekly')"
            >
              <img
                src="assets/svg/weekly.svg"
                alt="Change theme icon"
                class="option__icon"
              />
              <p class="option__p">Weekly</p>
            </div>
            <div
              class="dropdown-menu__item"
              (click)="isRepeatOpen = false; setRepeat('Monthly')"
            >
              <img
                src="assets/svg/monthly.svg"
                alt="Delete list icon"
                class="option__icon"
              />
              <p class="option__p">Monthly</p>
            </div>
            <div class="dropdown-menu__item" (click)="isRepeatOpen = false">
              <img
                src="assets/svg/trash.svg"
                alt="Delete list icon"
                class="option__icon"
              />
              <p class="option__p">Custom</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
